@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./pages/home-page.css";
@import "./cmps/app-header.css";
@import "./cmps/app-footer.css";
@import "./apps/MissBooks/book-app.css";
@import "./cmps/about-page.css";
@import "./apps/MisterMail/app-mail.css";
@import "./apps/MisterMail/cmps/email-compose.css";
@import "./apps/MisterMail/cmps/email-nav.css";
@import "./apps/MisterMail/cmps/email-list-nav.css";
@import "./apps/MisterMail/pages/email-details.css";
@import "./apps/MisterMail/cmps/email-preview.css";
@import "./apps/MissKeep/app-note.css";
@import "./apps/MissKeep/cmps/note-type-container.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}
button:active {
  transform: scale(0.99);
}
button:active,
button:focus,
button {
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
iframe {
  width: 100%;
  object-fit: contain;
}
