@import "./cmps/app-header.css";
@import "./cmps/home-page.css";
@import "./cmps/app-footer.css";
@import "./cmps/about-page.css";
@import "./cmps/app-mail.css";
@import "./cmps/app-note.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
