.keep-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.notes-list {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 3fr 1fr;
  text-align: center;
}

.test-container {
  padding: 0 20px;
}

.note-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: 220px;
  grid-auto-flow: dense;
  gap: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* width: 240px; */
  min-height: 220px; /* to change */
  background-color: #fbf396;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.note-txt {
  margin-top: 10px;
}

.btn-container {
  display: flex;
  flex-direction: row;
}

.note-controls {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.note-controls span {
  color: rgb(45, 45, 45);
}

.remove-btn:hover span,
.edit-btn:hover span,
.pin-btn:hover span,
.duplicate-btn:hover span,
.color-btn:hover span {
  transform: scale(1.2);
  color: black;
}

.color-btn {
  position: relative;
}
.color-palette {
  z-index: -1;
}

.colorpicker {
  display: flex;
  align-items: center;
  align-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

.note-img,
iframe {
  border-radius: 10px;
  margin-bottom: 10px;
}
