.emailCompose {
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 500px;
  height: 550px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

.minimized {
  position: fixed;
  bottom: -500px;
}

.email-compose-header {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background: #404040;
  padding: 12px 15px;
}

.email-compose-header-controls button {
  width: 30px;
  height: 100%;
  background: transparent;
  color: #b3b3b3;
  border: none;
}
.email-compose-header-controls button:hover {
  background-color: #767676;
}

.email-compose-body form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.email-compose-body input {
  height: 40px;
  font-size: 1rem;
  border-bottom: 1px solid rgb(232, 232, 232);
}
.email-compose-body textarea,
input {
  border: none;
  outline: none;
}
.email-compose-body textarea {
  padding-top: 20px;
}

.email-compose-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 15px 20px;
}
.email-compose-footer button {
  border: none;
}

button.submit {
  color: #fff;
  font-size: 1rem;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  background: #1a73e8;
}

.email-compose-footer-delete button {
  background: transparent;
}

.email-compose-footer-delete span {
  font-size: 1.5rem;
  width: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .emailCompose {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0);
  }
  .email-compose-body input {
    height: 60px;
  }
  .email-compose-header {
    color: #000;
    background: #fff;
  }
  .email-compose-header-controls button:hover {
    background-color: #fff;
  }
  .email-compose-header-controls button {
    color: #000;
  }
}
