.email-nav button {
  padding: 10px;
  border: 1px solid #d3d3d3;
  background: #fff;
  border-radius: 3em;
  font-size: 1rem;
  margin: 0.6rem 0;
}

.email-nav {
  padding: 0 26px;
  width: 300px;
  border: 1px solid black;
}

.email-nav li {
  list-style: none;
  padding: 4px 0;
  cursor: pointer;
}
.nav-regular:hover {
  color: #202124;
  background-color: #e8eaed;
}
.nav-inbox:active {
  color: #d93025;
  background-color: #fce8e6;
}
