header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
}

header button {
  border: none;
  background-color: transparent;
}

.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.header-left span {
  font-size: 1.5rem;
}

.logo-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.logo-img {
  width: 50px;
  object-fit: cover;
}

.logo-text {
  color: #5f6368;
  margin-inline-start: 10px;
}

.header-middle {
  flex-grow: 0.7;
  display: flex;
  align-items: center;
  background: #f0f3f4;
  padding: 10px;
  border-radius: 10px;
  color: #6d7074;
  height: 50px;
}

.header-middle input {
  background: transparent;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 1rem;
}

.header-right {
  display: flex;
  align-content: flex-end;
  align-items: center;
  gap: 10px;
}

.header-right span {
  font-size: 40px;
  color: #6d7074;
}

.note-logo {
  object-fit: cover;
  width: 60px;
}

.apps-modal {
  z-index: 3;
  width: 328px;
  /* height: 328px; */
  height: 120px;
  position: absolute;
  top: 70px;
  right: 10px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.mail-modal-app,
.note-modal-app,
.book-modal-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  height: 100px;
  padding: 10px;
  border-radius: 10px;
}
.mail-modal-app img,
.note-modal-app img,
.book-modal-app img {
  width: 50px;
}

.mail-modal-app:hover,
.note-modal-app:hover,
.book-modal-app:hover {
  background-color: #e8f0fe;
}

@media only screen and (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
  .header-middle {
    order: 3;
    width: 100%;
  }
}
