/* FILTER */

.book-filter {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
.book-filter > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

.book-filter input {
  outline: none;
  color: black;
  background-color: whitesmoke;
  height: 40px;
  text-indent: 10px;
  border-radius: 10px;
}

/* LIST */

.book-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.book-list a {
  font-size: 0.7rem;
}

/* PREVIEW */

.book-preview-container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.098);
  border-radius: 10px;
  margin: 15px;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
}
.book-preview-container a .thumbnail,
p {
  cursor: pointer;
}
.book-preview-container img {
  max-height: 250px;
  min-width: 300px;
}
p.title {
  font-size: 1rem;
  font-weight: 400;
  max-width: 24ch;
}
.book-preview .author {
  font-size: 0.8rem;
  font-weight: 100;
}

.actions button {
  background: transparent;
}

/* DETAILS */

.book-details {
  position: relative;
  display: flex;
  align-content: center;
  text-align: center;
  flex-direction: column;
  padding: 10px;
  margin: 5px 0;
}

.book-details img {
  max-height: 300px;
  margin-bottom: 10px;
}

.book-details h3 {
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 1.5rem;
}
.book-details .authors {
  margin-bottom: 10px;
  font-weight: 100;
}

.book-details p {
  font-weight: 500;
  margin-bottom: 10px;
}
.book-details span {
  font-weight: 200;
}
.book-details .close-btn,
.book-details button,
.close-btn button {
  position: absolute;
  right: 10px;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  background: transparent;
  border: none;
}

/* REVIEWS */
.book-reviews {
  padding: 20px;
  text-align: left;
}

.book-reviews {
  padding: 20px;
  text-align: left;
}
.book-reviews h3 {
  line-height: 2rem;
  text-align: left;
  box-shadow: 0px 3px 0px 0px #fff;
  margin-bottom: 1rem;
}

.book-reviews p {
  text-align: left;
}
.book-reviews form {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

textarea {
  outline: none;
  width: 400px;
  height: 100px;
  color: #000;
}

.review-container {
  padding: 10px;
  box-shadow: 0px 1px 0px 0px #fff;
  display: flex;
}

.review-container .user-name {
  margin-top: 20px;
}

/* FOOTER */

.app-footer {
  box-shadow: 0px -1px 3px 0px #000;
  padding: 0.5rem 1rem;
}

/* google */

/* .google-book-list {
  position: absolute;
  right: 0;
  top: 70px;
  width: 300px;
  background-color: #fff;
}
.google-book-container button {
  color: #000;
  border: 1px solid #000;
}

.google-book-container li {
  position: absolute;
  width: 300px;
}
.google-book-container span {
  color: #000;
  font-size: 0.5rem;
} */
