.email-body {
  display: flex;
  justify-content: space-between;
  align-content: center;
  min-height: 80vh;
}

.main {
  width: 100%;
}

.email-modal {
  display: flex;
  flex-direction: column;
  max-height: 250px;
}

.email-modal-header {
  display: flex;
  justify-content: space-between;
}

.mobile-compose-btn {
  display: none;
}

@media only screen and (max-width: 600px) {
  .mobile-compose-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 8px;
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 50%;
    margin: 0.6rem auto;
    margin-bottom: 0.8rem;
  }
  .mobile-compose-btn button span {
    color: #db3b32;
  }
}
