.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}
.home-page > a {
  height: 100%;
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
/* 
.mail-card {
  background-color: khaki;
}
.note-card {
  background-color: lawngreen;
}

.book-card {
  background-color: lightblue;
} */
